@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: url("./images/bg-desktop.png");
    background-color: rgba(11, 14, 34);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 730px;
    font-family: 'Outfit', sans-serif;
}

.container {
    margin: 580px auto;
    height: 300px;
    width: 1440px;
    display: flex;
}

.profile {
    height: 300px;
    width: 550px;
    border-radius: 20px 160px 20px 20px;
    background-color: rgba(21, 29, 90);
    display: inline-block;
    position: relative;
}

.data {
    height: 220px;
    width: 850px;
    margin-left: 31px;
    background-color: rgba(21, 29, 90);
    border-radius: 20px;
    display: inline-block;
    position: relative;
    top: 80px;
}

.main-logo img {
    position: absolute;
    top: 60px;
    left: 60px;
    width: 190px;
    height: 70px;
}

.small-logos {
    position: absolute;
    top: 170px;
    left: 60px;
}

.small-logos div {
    display: inline-block;
    margin: 10px;
    background-color: rgba(10, 14, 36);
    border-radius: 10px;
}
.small-logos div img {
    width: 60px;
    height: 60px;  
}

.document img {
    padding: 15px 17px 15px 17px; 
}

.folder img {
    padding: 17px 15px 17px 15px;
}

.upload img {
    padding: 19px 15px 19px 15px;
}

.data-left {
    width: 180px;
    height: 70px;
    background: white;
    float: right;
    position: relative;
    top: -40px;
    right: 50px;
    border-radius: 10px 10px 0 10px;
    text-align: center;
    padding-top: 5px;
    font-size: 12px;
    color: rgb(158, 158, 158);
}

.data-left span {
    font-size: 35px;
    font-weight: 700;
    color: rgba(10, 14, 36);
    position: relative;
    top: 11px;
    right: 5px;
}


.arrow {
    width: 0px; 
    height: 0px; 
    border-left: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-right:40px solid white;
    float: right;
    position: relative;
    top: 30px;
    right: -130px
}



p {
    color: white;
    position: absolute;
    top: 70px;
    left: 50px;
    font-weight: 400;
    font-size: 20px;
}

.bar {
    width: 750px;
    height: 20px;
    position: absolute;
    top: 110px;
    left: 50px;
    border-radius: 50px;
    background: rgba(16, 20, 58)
}

.color-bar {
    width: 550px;
    height: 14px;
    border-radius: 50px;
    background: linear-gradient(to right , rgba(255, 137, 131),rgba(255, 0, 134)); 
    position: relative;
    top: 2.5px;
    left: 4px;
}

.pointer {
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background: white;
    position: absolute;
    left: 538px;
    margin-top: 2px;

}

.left-row {
    font-size: 14px;
    color: white;
    position: absolute;
    top: 140px;
    left: 50px;
    font-weight: 700;
}

.right-row {
    font-size: 14px;
    color: white;
    float: right;
    position: relative;
    top: 140px;
    left: 210px;
    font-weight: 700;
    
}

