@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(11, 14, 34) ;
    font-family: 'Outfit', sans-serif; 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 750px;
    background-image: url("./images/bg-desktop.png");
    
}
/* body:after {
    content: "";
    position: absolute;
    bottom: 0;
    min-height: 50%;
   min-height: 50%;
    background-image: url("./images/bg-desktop.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    z-index: -5;
} */

.container {
    margin: 580px auto;
    height: 300px;
    width: 1200px;
    display: flex;
}

.profile {
    height: 250px;
    width: 450px;
    border-radius: 20px 120px 20px 20px;
    background-color: rgba(21, 29, 90);
    display: inline-block;
    position: relative;
    top: 50px;
}

.data {
    height: 190px;
    width: 750px;
    margin-left: 31px;
    background-color: rgba(21, 29, 90);
    border-radius: 20px;
    display: inline-block;
    position: relative;
    top: 110px;
}

.main-logo img {
    position: absolute;
    top: 60px;
    left: 60px;
    width: 160px;
    height: 50px;
}

.small-logos {
    position: absolute;
    top: 140px;
    left: 60px;
}

.small-logos div {
    display: inline-block;
    margin: 10px;
    background-color: rgba(10, 14, 36);
    border-radius: 10px;
}
.small-logos div img {
    width: 50px;
    height: 50px;  
}

.document img {
    padding: 13px 15px 12px 15px; 
}

.folder img {
    padding: 14px 12px 14px 12px;
}

.upload img {
    padding: 15px 12px 15px 12px;
}

.data-left {
    width: 130px;
    height: 65px;
    background: white;
    float: right;
    position: relative;
    top: -35px;
    right: 90px;
    border-radius: 10px 10px 0 10px;
    text-align: center;
    padding-top: 5px;
    font-size: 10px;
    color: rgb(158, 158, 158);
}

.data-left span {
    font-size: 35px;
    font-weight: 700;
    color: rgba(10, 14, 36);
    position: relative;
    top: 5px;
    right: 5px;
}


.arrow {
    width: 0px; 
    height: 0px; 
    border-left: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 30px solid white;
    float: right;
    position: relative;
    top: 30px;
    left: 40px
}

p {
    color: white;
    position: absolute;
    top: 40px;
    left: 50px;
    font-weight: 400;
    font-size: 20px;
}

.bar {
    width: 620px;
    height: 20px;
    position: absolute;
    top: 80px;
    left: 50px;
    border-radius: 50px;
    background: rgba(16, 20, 58)
}

.color-bar {
    width: 450px;
    height: 14px;
    border-radius: 50px;
    background: linear-gradient(to right , rgba(255, 137, 131),rgba(255, 0, 134)); 
    position: relative;
    top: 3px;
    left: 4px;
}

.pointer {
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background: white;
    position: absolute;
    left: 437px;
    margin-top: 1.8px;

}

.left-row {
    font-size: 14px;
    color: white;
    position: absolute;
    top: 120px;
    left: 50px;
    font-weight: 700;
}

.right-row {
    font-size: 14px;
    color: white;
    float: right;
    position: relative;
    top: 120px;
    left: 120px;
    font-weight: 700;
}

