@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Raleway", sans-serif;
    background-image: url("./images/bg-desktop.png");
    background-color: rgba(11, 14, 34);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    background-color: var();
    font-size: 14px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.container {
    height: 400px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
}

.profile {
    height: 250px;
    width: 450px;
    border-radius: 20px 120px 20px 20px;
    background-color: rgba(21, 29, 90);
}

.data {
    height: 190px;
    width: 750px;
    margin-left: 31px;
    margin-top: 60px;
    background-color: rgba(21, 29, 90);
    border-radius: 20px;
    position: relative;
}

.main-logo img {
    width: 160px;
    height: 50px;
    position: relative;
    top: 50px;
    left: 40px
}

.small-logos {
    position: relative;
    top: 70px;
    left: 40px
}

.small-logos div {
    display: inline-block;
    margin: 10px;
    background-color: rgba(10, 14, 36);
    border-radius: 10px;
}
.small-logos div img {
    width: 50px;
    height: 50px;  
}

.document img {
    padding: 13px 15px 12px 15px; 
}

.folder img {
    padding: 14px 12px 14px 12px;
}

.upload img {
    padding: 15px 12px 15px 12px;
}

.data-left {
    width: 130px;
    height: 65px;
    background: white;
    float: right;
    border-radius: 10px 10px 0 10px;
    text-align: center;
    padding-top: 5px;
    font-size: 10px;
    color: rgb(158, 158, 158);
    position: relative;
    top: -40px;
    right: 60px;
}

.data-left span {
    font-size: 35px;
    font-weight: 700;
    color: rgba(10, 14, 36);
    position: relative;
    top: 10px;
}


.arrow {
    width: 0px; 
    height: 0px; 
    border-left: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 30px solid white;
    float: right;
    position: relative;
    top: 20px;
    left: 70px;
}

p {
    color: white;
    font-weight: 300;
    font-size: 20px;
    position: relative;
    top: 50px;
    left: 55px;
}

.bar {
    width: 620px;
    height: 20px;
    border-radius: 50px;
    background: rgba(16, 20, 58);
    position: relative;
    top: 70px;
    left: 55px;
}

.color-bar {
    width: 450px;
    height: 14px;
    border-radius: 50px;
    background: linear-gradient(to right , rgba(255, 137, 131),rgba(255, 0, 134)); 
    position: absolute;
    top: 3px;
    left: 3px;
}

.pointer {
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background: white;
    position: absolute;
    top: 2px;
    left: 438px

}

.left-row {
    font-size: 14px;
    color: white;
    font-weight: 700;
    position: relative;
    top: 80px;
    left: 55px
}

.right-row {
    font-size: 14px;
    color: white;
    float: right;
    font-weight: 700;
    position: relative;
    top: 80px;
    left: 75px;
}

